.footerDown {
    background-color: #303030;
}

.footerUp {
    width: 100%;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
}

.text-grey {
    color: #858180;
}

.footerFirst {
    width: 100%;
    background-color: #0d6efd;
}

.icon-text {
    font-size: 12px;
    margin: 0;
}
